In [2]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_recall_fscore_support
from sklearn import linear_model,  svm, datasets

In [3]:
covid_df = pd.read_csv('covid.csv', index_col='id')
covid_df.head()

,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,diabetes,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
id,,,,,,,,,,,,,,,,,,,,,
16169f,2,1,04-05-2020,02-05-2020,9999-99-99,97,2,27,97,2,...,2,2,2,2,2,2,2,2,1,97
1009bf,2,1,19-03-2020,17-03-2020,9999-99-99,97,2,24,97,2,...,2,2,2,2,2,2,2,99,1,97
167386,1,2,06-04-2020,01-04-2020,9999-99-99,2,2,54,2,2,...,2,2,2,2,1,2,2,99,1,2
0b5948,2,2,17-04-2020,10-04-2020,9999-99-99,2,1,30,97,2,...,2,2,2,2,2,2,2,99,1,2
0d01b5,1,2,13-04-2020,13-04-2020,22-04-2020,2,2,60,2,1,...,2,1,2,1,2,2,2,99,1,2

In [4]:
len(covid_df)

566602

In [10]:
# Drop any rows that are nan see what we're left with

In [5]:
covid_df.columns

Index(['sex', 'patient_type', 'entry_date', 'date_symptoms', 'date_died',
       'intubed', 'pneumonia', 'age', 'pregnancy', 'diabetes', 'copd',
       'asthma', 'inmsupr', 'hypertension', 'other_disease', 'cardiovascular',
       'obesity', 'renal_chronic', 'tobacco', 'contact_other_covid',
       'covid_res', 'icu'],
      dtype='object')

In [7]:
columns_to_drop_above_97=[
       'intubed', 'pneumonia', 'pregnancy', 'diabetes', 'copd',
       'asthma', 'inmsupr', 'hypertension', 'other_disease', 'cardiovascular',
       'obesity', 'renal_chronic', 'tobacco', 'contact_other_covid',
       'covid_res', 'icu']

for col in columns_to_drop_above_97:
    covid_df = covid_df[covid_df[col]<97]

In [8]:
# did they die tho 
covid_df['Died?'] = covid_df['date_died'].apply(lambda x: 1 if x == '9999-99-99' else 2)

In [9]:
len(covid_df)

23158

In [10]:
# Make array from 
columns_to_train=[ 'pneumonia', 'pregnancy', 'diabetes', 'copd',
       'asthma', 'inmsupr', 'hypertension', 'other_disease', 'cardiovascular',
       'obesity']
column_class=["intubed"]

In [11]:
x=covid_df[columns_to_train].to_numpy()
y=covid_df["intubed"].to_numpy()

In [12]:
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=45)

In [13]:
knn_classifier = KNeighborsClassifier(n_neighbors=3)
knn_classifier.fit(X_train, y_train) 


# predict the response
knn_prediction = knn_classifier.predict(X_test)

In [14]:
print(accuracy_score(y_test, knn_prediction))

0.8911917098445595

In [15]:
# Logistic regression

# Create logistic regression object
# Try different solvers:  'newton-cg', 'sag', 'saga' and 'lbfgs'
logistic_regression_classifier = linear_model.LogisticRegression(random_state=0, solver='lbfgs',multi_class='multinomial')

# Train the model using the training sets
logistic_regression_classifier.fit(X_train,y_train)

# Make predictions using the testing set
logistic_regression_classifier_prediction = logistic_regression_classifier.predict(X_test)


# evaluate accuracy
print(accuracy_score(y_test, logistic_regression_classifier_prediction))

0.893091537132988