In [28]:
#import library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
dt_cases = pd.read_csv('cases.csv')
print('Cases data shape is {}'.format(dt_cases.shape))
dt_testing= pd.read_csv('testing_groups.csv')
print('Training data shape is {}'.format(dt_testing.shape))

Cases data shape is (88900, 16)
Training data shape is (962, 5)

In [6]:
dt_cases.head(3)

,case_id,provincial_case_id,age,sex,health_region,province,country,date_report,report_week,travel_yn,travel_history_country,locally_acquired,case_source,additional_info,additional_source,method_note
0,1,1,50-59,Male,Toronto,Ontario,Canada,2020-01-25,2020-01-19,1,China,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...,NaN,NaN,0.0
1,2,2,50-59,Female,Toronto,Ontario,Canada,2020-01-27,2020-01-26,1,China,NaN,(1) https://news.ontario.ca/mohltc/en/2020/01/...,Travel and Close Contact,NaN,0.0
2,3,1,40-49,Male,Vancouver Coastal,BC,Canada,2020-01-28,2020-01-26,1,China,NaN,https://news.gov.bc.ca/releases/2020HLTH0015-0...,NaN,NaN,NaN

In [7]:
dt_testing

,date_testing,province,cumulative_testing,province_source,source
0,2020-05-27,Alberta,245949.0,Alberta,https://www.alberta.ca/covid-19-alberta-data.aspx
1,2020-05-26,Alberta,242781.0,BC,http://www.bccdc.ca/health-info/diseases-condi...
2,2020-05-25,Alberta,239799.0,Manitoba,https://www.gov.mb.ca/covid19/index.html
3,2020-05-24,Alberta,236789.0,New Brunswick,https://www2.gnb.ca/content/gnb/en/departments...
4,2020-05-23,Alberta,232774.0,NL,https://www.gov.nl.ca/covid-19/
...,...,...,...,...,...
957,2020-03-19,Yukon,398.0,NaN,NaN
958,2020-03-18,Yukon,101.0,NaN,NaN
959,2020-03-17,Yukon,NaN,NaN,NaN
960,2020-03-16,Yukon,NaN,NaN,NaN
961,2020-03-15,Yukon,NaN,NaN,NaN

In [ ]:
# Want to add a column for the culmulative rate of testing for the province and date of testing
# Merge on province= province, date= date and add cumulative

In [24]:
refined_col = []
for col in dt_cases.columns:
    if dt_cases[col].value_counts().iloc[0] / len(dt_cases[col].dropna()) > 0.5:
        refined_col.append(col)
refined_col

['age', 'sex', 'province', 'country', 'travel_yn', 'method_note']

In [38]:
refined_cases=dt_cases[['age', 'sex', 'province', 'country', 'travel_yn', 'method_note']].copy()

In [29]:
dt_testing.drop(["province_source", "source"], 1)

    date_testing province  cumulative_testing
0     2020-05-27  Alberta            245949.0
1     2020-05-26  Alberta            242781.0
2     2020-05-25  Alberta            239799.0
3     2020-05-24  Alberta            236789.0
4     2020-05-23  Alberta            232774.0
..           ...      ...                 ...
957   2020-03-19    Yukon               398.0
958   2020-03-18    Yukon               101.0
959   2020-03-17    Yukon                 NaN
960   2020-03-16    Yukon                 NaN
961   2020-03-15    Yukon                 NaN

[962 rows x 3 columns]

In [39]:
refined_cases["cumulative_testing"]=""

In [45]:
for index, row in refined_cases.iterrows():
    if (index<1):
        print(row)

age                     50-59
sex                      Male
province              Ontario
country                Canada
travel_yn                   1
method_note                 0
cumulative_testing
Name: 0, dtype: object

In [3]:
NAN

NameError: name 'NAN' is not defined